p {
    color: red;
}

#green-text {
    color: green;
    font-size: medium;
}

.brown-text {
    color: grey;
    height: auto;
}

.underline-h {
    color: goldenrod;
    font-size: medium;
    font-weight: bold;
}